|Authoring Program(Version,Element)|Export Program(Version,MVD)|Import Program(Version,MVD)|Data Translation|Notes                   
|---|---|---|---|---|
|Revit(2014,Filled_Region(Draft))|IFCExporter(2_9_0,FMHO)|Revit(2014,Default)|Partial|'Draft File Pattern' changes to 'Model Fill Pattern'
|Revit(2014,Model_Line)|IFCExporter(2_9_0,FMHO)|Revit(2014,Default)|Yes|
|Revit(2014,Model_Line)|IFCExporter(2_9_0,CV_2_0)|Revit(2014,Default)|No|Model_Line missing
|Revit(2014,Text_Notes)|IFCExporter(2_9_0,FMHO)|Revit(2014,Default)|Yes|3 different scales translated, as well.
