|Authoring Program(Object,Version)|Export Program(MVD,Version)|Import Program(MVD,Version)|Data Translation|Notes                   
|---|---|---|---|---|
|Revit(Model_Line,2014)|IFCExporter(FMHO,2_9_0)|Revit(Default,2014)|Yes|
||IFCExporter(CV_2_0,2_9_0)|Revit(Default,2014)|No|Model_Line missing
|Revit(Filled_Region(Diagonal_Down(Draft)),2014)|IFCExporter(FMHO,2_9_0)|Revit(Default,2014)|Partial|'Draft File Pattern' changes to 'Model Fill Pattern'
